<div class="container" fxLayout="column" fxLayoutAlign="center">
  <div class="book-now-container" fxLayoutAlign="end" fxLayout="row">
    <button class="book-now-button" mat-stroked-button color="primary">
      Book Now
    </button>
  </div>
  <div class="header-container" fxLayoutAlign="center center" fxLayout="column">
    <h1 class="mat-subheading-2" fxFlex="5">
      Luxury Hotel of Your Dreams
    </h1>
    <h1 class="mat-headline" fxFlex>
      <p>Hilton</p>
      <p>Beach Resort &amp; Spa</p>
    </h1>
  </div>
</div>
