.book-now-container {
  padding: 35px 115px;
}

.book-now-button {
  width: 170px;
  color: #ffffff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.container {
  background: url("/assets/img/home-medium.jpg") no-repeat;
  height: 100vh;
}

.header-container {
  height: 80vh;
  text-align: center;
}

.header-container > .mat-subheading-2 {
  padding-top: 10px;
}
